html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  box-sizing: border-box;
  padding: 0;
  color: white;
}

body {
  margin: 0;
}

.app, #root {
  height: 100vh;
  overflow-y: hidden;
}

.rare-ufunu-grid {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.cell {
  width: 100px;
  height: 100px;
  flex: 1 1 100px;
  text-align: center;
  overflow: hidden;
  display: flex;
}

.rare-ufunu {
  width: 100%;
  height: auto;
}

.letter {
  font-size: 30pt;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: bolder;
  align-self: center;
  width: 100%;
}

@media (min-width: 576px) { /* >= sm */
  .cell {
    width: 175px;
    height: 175px;
    flex: 1 1 175px;
  }

  .letter {
    font-size: 60pt;
  }
}

@media (min-width: 768px) { /* >= md */
  .cell {
    width: 200px;
    height: 200px;
    flex: 1 1 200px;
  }

  .letter {
    font-size: 70pt;
  }
}

@media (min-width: 992px) { /* >= lg */
  .cell {
    width: 250px;
    height: 250px;
    flex: 1 1 250px;
  }

  .letter {
    font-size: 80pt;
  }
}
